<div class="w-3/4 mx-auto">
    <p class="text-lg font-semibold mt-4">Add new client</p>
    
    
    <a href="#" routerLink="/client/index" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Back</a>

  <div class="mt-10 sm:mt-0">
    
      <div class="mt-5 md:mt-0 md:col-span-2">
        <form [formGroup]="form" (ngSubmit)="submit()">
          <div class="shadow overflow-hidden sm:rounded-md">
            <div class="px-4 py-5 bg-white sm:p-6">
              <div class="grid grid-cols-6 gap-6">

                <div class="col-span-6 sm:col-span-3 lg:col-span-2">
                  <label for="first_name" class="block text-sm font-medium text-gray-700">First name</label>
                  <input formControlName="first_name" type="text" name="first_name" id="first_name" autocomplete="given-name" class="form-control mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                  <div *ngIf="f['first_name'].touched && f['first_name'].invalid" class="bg-red-100 py-1 px-2 rounded my-2">
                    <div *ngIf="f['first_name'].errors && f['first_name'].errors['required']" class="text-sm text-red-600">First name is required.</div>
                </div>
                </div>
  
                <div class="col-span-6 sm:col-span-3 lg:col-span-2">
                  <label for="last_name" class="block text-sm font-medium text-gray-700">Last name</label>
                  <input formControlName="last_name" type="text" name="last_name" id="last_name" autocomplete="family-name" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                  <div *ngIf="f['last_name'].touched && f['last_name'].invalid" class="bg-red-100 py-1 px-2 rounded my-2">
                    <div *ngIf="f['last_name'].errors && f['last_name'].errors['required']" class="text-sm text-red-600">Last name is required.</div>
                </div>
                </div>
  
                <div class="col-span-6 sm:col-span-3 lg:col-span-2">
                  <label for="company_name" class="block text-sm font-medium text-gray-700">Company name</label>
                  <input formControlName='company_name' type="text" name="company_name" id="company_name" autocomplete="company name" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                  <div *ngIf="f['company_name'].touched && f['company_name'].invalid" class="bg-red-100 py-1 px-2 rounded my-2">
                    <div *ngIf="f['company_name'].errors && f['company_name'].errors['required']" class="text-sm text-red-600">Company name is required.</div>
                </div>
                </div>
  
  
                <div class="col-span-6">
                  <label for="street_address" class="block text-sm font-medium text-gray-700">Street address</label>
                  <input formControlName='street_address' type="text" name="street_address" id="street_address" autocomplete="street_address" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                  <div *ngIf="f['street_address'].touched && f['street_address'].invalid" class="bg-red-100 py-1 px-2 rounded my-2">
                    <div *ngIf="f['street_address'].errors && f['street_address'].errors['required']" class="text-sm text-red-600">Street addressis required.</div>
                </div>
                </div>
  
                <div class="col-span-6 sm:col-span-6 lg:col-span-2">
                  <label for="city" class="block text-sm font-medium text-gray-700">City</label>
                  <input formControlName='city' type="text" name="city" id="city" autocomplete="city" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                  <div *ngIf="f['city'].touched && f['city'].invalid" class="bg-red-100 py-1 px-2 rounded my-2">
                    <div *ngIf="f['city'].errors && f['city'].errors['required']" class="text-sm text-red-600">City is required.</div>
                </div>
                </div>
  
                <div class="col-span-6 sm:col-span-3 lg:col-span-2">
                  <label for="state" class="block text-sm font-medium text-gray-700">State </label>
                  <input formControlName='state' type="text" name="state" id="state" autocomplete="state" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                  <div *ngIf="f['state'].touched && f['state'].invalid" class="bg-red-100 py-1 px-2 rounded my-2">
                    <div *ngIf="f['state'].errors && f['state'].errors['required']" class="text-sm text-red-600">State is required.</div>
                </div>
                </div>
  
                <div class="col-span-6 sm:col-span-3 lg:col-span-2">
                  <label for="postal_code" class="block text-sm font-medium text-gray-700">Postal code</label>
                  <input formControlName='postal_code' type="text" name="postal_code" id="postal_code" autocomplete="postal_code" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                  <div *ngIf="f['postal_code'].touched && f['postal_code'].invalid" class="bg-red-100 py-1 px-2 rounded my-2">
                    <div *ngIf="f['postal_code'].errors && f['postal_code'].errors['required']" class="text-sm text-red-600">Postal code is required.</div>
                </div>
                </div>
  
                <div class="col-span-6 sm:col-span-3 lg:col-span-2">
                  <label for="contact_email" class="block text-sm font-medium text-gray-700">Contact Email</label>
                  <input formControlName='contact_email' type="email" name="contact_email" id="contact_email" autocomplete="contact_email" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                  <div *ngIf="f['contact_email'].touched && f['contact_email'].invalid" class="bg-red-100 py-1 px-2 rounded my-2">
                    <div *ngIf="f['contact_email'].errors && f['contact_email'].errors['required']" class="text-sm text-red-600">Email is required.</div>
                    <div *ngIf="f['contact_email'].errors && f['contact_email'].errors['email']" class="text-sm text-red-600">This field should an email.</div>
                </div>
                </div>
  
                <div class="col-span-6 sm:col-span-3 lg:col-span-2">
                  <label for="contact_phone" class="block text-sm font-medium text-gray-700">Contact Phone</label>
                  <input formControlName='contact_phone' type="text" name="contact_phone" id="contact_phone" autocomplete="contact_phone" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                  <div *ngIf="f['contact_phone'].touched && f['contact_phone'].invalid" class="bg-red-100 py-1 px-2 rounded my-2">
                    <div *ngIf="f['contact_phone'].errors && f['contact_phone'].errors['required']" class="text-sm text-red-600">Phone is required.</div>
                  </div>
                </div>
                <div class="col-span-6 sm:col-span-3 lg:col-span-2">
                  <label for="date_added" class="block text-sm font-medium text-gray-700">Creation Date</label>
                  <input formControlName='date_added' type="date" name="date_added" id="date_added" autocomplete="postal_code" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                  <div *ngIf="f['date_added'].touched && f['date_added'].invalid" class="bg-red-100 py-1 px-2 rounded my-2">
                    <div *ngIf="f['date_added'].errors && f['date_added'].errors['required']" class="text-sm text-red-600">Creation date is required.</div>
                </div>
                </div>
              </div>
            </div>
            <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
                <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                  Save
                </button>
              </div>
          </div>
        </form>
      </div>
    </div>
</div>
  
